ul{
    color:#fff;
}

ul li {
    cursor: pointer;
    margin: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary);
    transition: 0.3s;
    list-style-type: none;
    display: inline-block;
    
}
ul li :hover{
    background-color:#fd7e14;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 12%);
}

.card-container{
    background-color: #202020;
}

.card-container mat-card {
    cursor: pointer;
    font-family: 'Saira Semi Condensed', sans-serif;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 12%);
    overflow: hidden;
}

.card-container mat-card mat-card-title {
    color: #43c4ac;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-clamp: 2;
}

.card-container mat-card mat-card-subtitle {
    color: #191645;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-clamp: 1;
}

.card-container mat-card p {
    font-size: 18px;
    color: #808080;
}



.card-container mat-card img {
    cursor: pointer;
    object-fit: cover;
    object-position: 0 0;
    height: 300px;
    margin-bottom: 1rem;
}

.card-container mat-card .card-buttons {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(0, 0, 0, 30%);
    margin: 6px;
    padding: 2px 4px;
    border-radius: 6px;
}

.card-container mat-card .card-buttons .mat-icon {
    text-shadow: 0 0 4px rgb(0, 0, 0, 15%);
}

.card-container mat-card .card-buttons button {
    width: 36px;
    height: 36px;
}

.card-container mat-card .card-buttons .mat-icon {
    font-size: 24px;
    margin-bottom: 6px;
}

.disabled {
    pointer-events: none; 
    display: none;
  }

  .active {
   
        background-color:#fd7e14;
        color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 4px 2px rgb(0, 0, 0, 12%);
    
    
  }

  .disabled {
    pointer-events: none;
    display: none; 
  }
  .notification-counter {
    cursor: pointer;
  }
  